body {
        font-family: Arial;
        background: #f2f2f2;
      }
      .box {
        width: 300px;
        margin: 70px auto;
        padding: 20px;
        background: white;
        border-radius: 5px;
      }
      input {
        width: 100%;
        padding: 8px;
        margin: 7px 0;
      }
      button {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
      }
      small {
        color: red;
      }